img {
    height: 250px;
    width: auto;
}

.bordered {
    border: 1px dashed black;
}

#cardsHere {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 33%;
}

.card:nth-child(even) {
    background-color: lightyellow;
}

.card:nth-child(odd) {
    background-color: lightblue;
}

#submitForm {
    opacity: 0;
}